[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
opencv-python = "*"
cmake = "*"
dlib = "*"
face-recognition = "*"
face-recognition-models = "*"
setuptools = "*"
torch = "*"
django-tailwind = "*"
django-browser-reload = "*"
django-cors-headers = "*"
pyjwt = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
npm = "*"

[requires]
python_version = "3.12"
